In [ ]:
import pandas as pd

In [ ]:
cov_ind=pd.read_csv('https://github.com/nunnarilabs/ml/raw/master/covid_vaccine_statewise.csv')
cov_ind

      Updated On  ... Total Individuals Vaccinated
0     16/01/2021  ...                      48276.0
1     17/01/2021  ...                      58604.0
2     18/01/2021  ...                      99449.0
3     19/01/2021  ...                     195525.0
4     20/01/2021  ...                     251280.0
...          ...  ...                          ...
7840  11/08/2021  ...                          NaN
7841  12/08/2021  ...                          NaN
7842  13/08/2021  ...                          NaN
7843  14/08/2021  ...                          NaN
7844  15/08/2021  ...                          NaN

[7845 rows x 24 columns]

In [ ]:
cov_ind['State'].unique()

array(['India', 'Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu',
       'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh',
       'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'],
      dtype=object)

In [ ]:
cov_ind.rename(columns={'Updated On':'Update'}, inplace=True)
# cov_ind.dropna(inplace=True)
# cov_ind.sort_values(by='Update',ascending=False)
data=cov_ind.iloc[:,0:4]
data=data.sort_values(by='Update',ascending=False)
# data1=data.iloc(data['State']).unique()
data1=data.drop_duplicates(subset=['State'])
data1["State"].unique()

array(['Meghalaya', 'Gujarat', 'Karnataka', 'Andhra Pradesh', 'Tripura',
       'Haryana', 'Andaman and Nicobar Islands', 'Kerala', 'Bihar',
       'Tamil Nadu', 'Odisha', 'Sikkim', 'Puducherry', 'Chhattisgarh',
       'Arunachal Pradesh', 'Mizoram', 'Ladakh', 'Jammu and Kashmir',
       'Rajasthan', 'India', 'Punjab', 'Delhi', 'Telangana', 'Nagaland',
       'West Bengal', 'Himachal Pradesh', 'Jharkhand', 'Maharashtra',
       'Goa', 'Chandigarh', 'Manipur',
       'Dadra and Nagar Haveli and Daman and Diu', 'Uttar Pradesh',
       'Lakshadweep', 'Assam', 'Uttarakhand', 'Madhya Pradesh'],
      dtype=object)

In [ ]:
data2=data1.groupby(data1['State']).tail(1)
df

          Update  ...   Sessions
5073  31/07/2021  ...   112584.0
2529  31/07/2021  ...   512438.0
3589  31/07/2021  ...  2947566.0
620   31/07/2021  ...   825352.0
7193  31/07/2021  ...   425668.0
2741  31/07/2021  ...   415322.0
408   31/07/2021  ...     8992.0
3801  31/07/2021  ...   944684.0
1256  31/07/2021  ...  2121406.0
6769  31/07/2021  ...   905045.0
5709  31/07/2021  ...   417123.0
6557  31/07/2021  ...     3366.0
5921  31/07/2021  ...    93226.0
1680  31/07/2021  ...  1414393.0
832   31/07/2021  ...    23695.0
5285  31/07/2021  ...    10297.0
4013  31/07/2021  ...     7105.0
3165  31/07/2021  ...   528829.0
6345  31/07/2021  ...   975817.0
6133  31/07/2021  ...   450034.0
2104  31/07/2021  ...   262305.0
6981  31/07/2021  ...   509004.0
5497  31/07/2021  ...    12815.0
7829  31/07/2021  ...   919366.0
2953  31/07/2021  ...   140328.0
3377  31/07/2021  ...   494757.0
4649  31/07/2021  ...  1712914.0
2317  31/07/2021  ...    55974.0
1468  31/07/2021  ...    26869.0
4861  31/07/2021  ...   138113.0
1892  31/07/2021  ...    37760.0
7405  31/07/2021  ...  1925928.0
4225  31/07/2021  ...     6540.0
1044  31/07/2021  ...   259917.0
7617  31/07/2021  ...   190421.0
4437  31/07/2021  ...  2305989.0

[36 rows x 4 columns]

In [ ]:
data2.drop(196, inplace=True) # Removing Country INDIA

In [ ]:
import folium

In [ ]:
!wget --quiet https://github.com/nunnarilabs/ml/raw/master/Indian_States -O India.json

In [ ]:
import requests
req = requests.get("https://raw.githubusercontent.com/nunnarilabs/ml/master/Indian_States")
geojson = req.json()
temp = req.json()

In [ ]:
india_geo=r'India.json'
India_map=folium.Map(location=[0,0], zoom_start=5)

In [ ]:
temp["features"][30]["geometry"]["type"]

'MultiPolygon'

In [ ]:
state_list = []
for i in range(35):
  f = temp["features"][i]["properties"]["NAME_1"]
  state_list.append(f)

In [ ]:
df_state_list = data2.State.tolist()
print(df_state_list)
print(state_list)

['Meghalaya', 'Gujarat', 'Karnataka', 'Andhra Pradesh', 'Tripura', 'Haryana', 'Andaman and Nicobar Islands', 'Kerala', 'Bihar', 'Tamil Nadu', 'Odisha', 'Sikkim', 'Puducherry', 'Chhattisgarh', 'Arunachal Pradesh', 'Mizoram', 'Ladakh', 'Jammu and Kashmir', 'Rajasthan', 'Punjab', 'Delhi', 'Telangana', 'Nagaland', 'West Bengal', 'Himachal Pradesh', 'Jharkhand', 'Maharashtra', 'Goa', 'Chandigarh', 'Manipur', 'Dadra and Nagar Haveli and Daman and Diu', 'Uttar Pradesh', 'Lakshadweep', 'Assam', 'Uttarakhand', 'Madhya Pradesh']
['Andaman and Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra and Nagar Haveli', 'Daman and Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Orissa', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh', 'Uttaranchal', 'West Bengal']

In [ ]:
data2.State.replace({
    "Andaman and Nicobar Islands":"Andaman and Nicobar",
    "Dadra and Nagar Haveli and Daman and Diu":"Dadra and Nagar Haveli",
    "Odisha":"Orissa",
    "Uttarakhand":"Uttaranchal"
}, inplace=True)

In [ ]:
India_map.choropleth(
    geo_data=india_geo, 
    data=data2, 
    columns=['State','Total Doses Administered'], 
    key_on='feature.properties.NAME_1',
    fill_color='YlGn',
    )

/usr/local/lib/python3.7/dist-packages/folium/folium.py:426: FutureWarning: The choropleth  method has been deprecated. Instead use the new Choropleth class, which has the same arguments. See the example notebook 'GeoJSON_and_choropleth' for how to do this.
  FutureWarning

In [ ]:
India_map